
<footer>
    <div class="footer-container">
        <div class="footer-section ">
            <h3>Sobre Nosotros</h3>
            <p>
                Somos una empresa comprometida con brindar productos de calidad y un excelente servicio a nuestros clientes.
            </p>
        </div>
        <div class="footer-section links">
            <h3>Enlaces Rápidos</h3>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="{% url 'menu' %}">Productos</a></li>
                <li><a href="{% url 'nuestros_locales' %}">Nuestros Locales</a></li>
            </ul>
        </div>
        <div class="footer-section contact">
            <h3>Contáctanos</h3>
            <p><i class="fas fa-phone"></i> +593 985151197</p>
            <p><i class="fas fa-envelope"></i> cresly_pizzeria@gmail.com</p>
        </div>
    </div>

    <div class="iconos_footer">
        <a href="https://www.facebook.com/creslypizzeria" target="_blank" aria-label="Facebook">
            <i class="bi bi-facebook"></i>
        </a>
        <a href="https://wa.me/593990773270" target="_blank" aria-label="WhatsApp">
            <i class="bi bi-whatsapp"></i>
        </a>
        <a href="https://www.instagram.com/creslypizzeria?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" aria-label="Instagram">
            <i class="bi bi-instagram"></i>
        </a>
        <a href="https://www.tiktok.com/@cresly_pizzeria?is_from_webapp=1&sender_device=pc" target="_blank" aria-label="TikTok">
            <i class="bi bi-tiktok"></i>
        </a>
    </div>


    <div class="footer-bottom">
        <p>&copy; 2024 Cresly Pizzeria | Todos los derechos reservados</p>
    </div>
</footer>
