{% load static %}

<nav class="navbar navbar-expand-lg fixed-top ">
  <div class="container-fluid" style="max-width: 80%;">
    <a class="navbar-brand" href="/">
      <img src="{% static 'IMG/inicio/logo.png' %}" alt="Logo" style="height: 60px;">
    </a>  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end " id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active nav-inicio">
          <a class="nav-link" href="/">Almuerzos</a>
        </li> 
        <li class="nav-item nav-locales">
          <a class="nav-link" href="#">Ajustes</a>
        </li>
        <li class="nav-item nav-menu">
          <a class="nav-link" href="#">Cierre de Caja</a>
        </li>
        <li class="nav-item nav-carrito d-flex align-items-center">
          <i class="bi bi-cart-fill icon-car"></i>
          <a class="nav-link" href="#">Carrito</a>
        </li>

        {% if user.is_authenticated %}
          <!-- Mostrar nombre del usuario autenticado -->
          <li class="nav-item d-flex align-items-center">
            <span class="nav-link">Hola, {{ user.first_name }}</span>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
          </li>
        {% else %}
          <!-- Mostrar el botón para iniciar sesión si no está autenticado -->
          <li class="nav-item nav-cuenta d-flex justify-content-end">
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#authModal" data-bs-whatever="@getbootstrap">
              <i class="bi bi-person-circle"></i>
            </button>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
